:root{
    --logo: 'UnifrakturCook';
    --titulo: 'Montserrat', sans-serif;
    --parrafo: 'Roboto', sans-serif;
    --colorPrincipal: #2c3e50;
    --colorSecundario: white;
}
.contenido--detailProducto{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    color: var(--colorPrincipal);
    border: 1px solid transparent;
    border-radius: 10px;
    font-family: var(--titulo);
}
.nombre--detailProducto{
    font-family: var(--logo);
    font-style: italic;
    font-size: 1.8rem;
}
.detailProducto{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.contenedor--imagen--detailProducto{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.descripcion-precio{
    display: grid;
    grid-template-rows: 1fr 1/2fr 1fr;
    gap: 5px;
}
.stock--detailProducto{
    font-size: 1rem;
    font-family: var(--parrafo);
    font-weight: bold;
}
.imagen--detailProducto{
    width: 100%;
}
.btn--finalizarCompra{
    cursor: pointer;
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    text-decoration: none;
}
.btn--finalizarCompra:hover{
    background-color: #2c3e50eb;
}
.precio-stock{
    font-size: 1.3rem;
}
.precio-stock span{
    font-weight: bold;
}
