:root{
    --logo: 'UnifrakturCook';
    --titulo: 'Montserrat', sans-serif;
    --parrafo: 'Roboto', sans-serif;
    --colorPrincipal: #2c3e50;
    --colorSecundario: white;
}

.CartWidget{
    max-width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid var(--colorSecundario);
    border-radius: 5px;
    padding: 1px 10px;
    text-decoration: none;
}

.disabled{
    cursor: not-allowed;
    pointer-events: none;
}

.CartWidget--cont-img{
    max-width: 35px;
    margin-right: 10px;
}

.CartWidget--img{
    width: 100%;
    margin: 0;
}

.CartWidget--p{
    font-family: var(--parrafo);
    font-size: 18px;
    color: var(--colorSecundario);
}