.exito, .error{
    position: absolute;
    top: 150px;
    right: 20px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.exito{
    background: rgba(0, 128, 0, 0.8);
}

.error{
    background: rgba(255, 0, 0, 0.8);
}